body{
    background-image: linear-gradient(rgba(222, 209, 28, 0.538),rgb(241, 219, 130),rgb(173, 173, 140));
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    margin: 20px;
    text-align: justify;
    padding: 2rem;
}
img{
    float: left;
    width: 150px;
    height: 150px;
}
h1{
    background-color: rgb(190, 184, 131);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bolder;
    padding: 2rem;
}
p{
    text-align: justify;
    font-size: large;

}
